.TASK {
    display: flex;
    align-items: flex-start;  
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    gap: 20px;
  
    height: auto;
    min-height: 50px;
    flex-wrap: wrap; 
  }
  
.TASK p,
.TASK label,
.TASK input,
.TASK button {
    margin: 0;
    font-size: 14px;
    line-height: 1;
    flex-shrink: 0; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.TASK-NAME {
    flex: 1;
    white-space: normal;        
    word-wrap: break-word;      
    overflow-wrap: break-word;  
}

.TASK-HIGH {
    border-color: orangered;
}

.TASK-MEDIUM {
    border-color: orange;

}


.highlight {
    background-color: red;
}

.strikethrough {
    text-decoration: line-through;
}


body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content:center ; 
    align-items: center;      
    height: 100vh;            
    margin: 0;                
    padding: 20px;
}
  
#Header {
    text-align: center;      
    margin-bottom: 20px;     
}
  
#inputField {
    flex: 1 1 200px;
    min-width: 200px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
